<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <title>Science Commons: Scholar's Copyright Agreement</title>

<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/animation/animation-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.2.2/build/container/container-min.js"></script>

<script type="text/javascript" src="js/jquery.pack.js"></script>

<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" 
    href="http://yui.yahooapis.com/2.2.2/build/container/assets/container.css"/>
<link py:if="stylesheet" rel="stylesheet" type="text/css" href="${stylesheet}"/>


<script type="text/javascript" src="js/scholars.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2010376-19']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>

<div id="content">

<p>Please enter the information requested below and select an addendum.
For more information on how to select and use an addendum, refer to <a href="http://www.sciencecommons.org/resources/faq/authorsaddendum">the FAQ</a>.</p>

<xi:include href="form.html" />

</div>

</body>
</html>
