<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <title>Science Commons: Scholar's Copyright Agreement</title>

  <script type="text/javascript"
	  src="http://yui.yahooapis.com/2.5.0/build/yahoo-dom-event/yahoo-dom-event.js">
  </script>  

  <script type="text/javascript"
	  src="http://yui.yahooapis.com/2.5.0/build/container/container-min.js">
  </script>  

  <link rel="stylesheet" type="text/css"
	href="http://yui.yahooapis.com/2.5.0/build/container/assets/skins/sam/container.css"
	/> 

<script type="text/javascript" src="js/jquery.pack.js"></script>

<link rel="stylesheet" type="text/css" href="css/basic.css" />
<link rel="stylesheet" type="text/css" href="css/scholars.css" />

<script type="text/javascript" src="js/scholars.js"></script>
<script type="text/javascript" src="js/help.js" ></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2010376-19']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body class="yui-skin-sam">

<div id="content">

<h1 class="logo">Scholar's Copyright Addendum Engine</h1>

<p>The Scholar's Copyright Addendum Engine will help you generate a PDF form
that you can attach to a journal publisher's copyright agreement to ensure
that you retain certain rights.</p>

<p style="text-align:center;"><a href="#form">(get started)</a></p>

<h2>Description</h2>

<p>Each addendum gives you non-exclusive rights to create derivative works
 from your Article and to reproduce, distribute, publicly perform, and 
publicly display your article in connection with your teaching, conference 
presentations, lectures, other scholarly works, and professional activities. 
However, they differ with respect to how soon you can make the final 
published version available and whether you can authorize others to re-use 
your work in various ways. Below is a summary of the available options. </p>

<h3>Science Commons / SPARC Addendum</h3>

<dl>
    <dt>Access - Reuse:</dt> 
    <dd>You retain sufficient rights to grant to the reading 
public a Creative Commons Attribution Non Commercial license or similar 
license that allows the public to re-use or re-post your article so long 
as you are given credit as the author and so long as the reader's use is 
non-commercial. (This is a joint offering from Science Commons and SPARC 
and represents a new version of the former SPARC Addendum.) </dd>

</dl>

<h3>Other Options From Science Commons</h3>

<dl>
   <dt>Immediate Access:</dt>
   <dd>You retain sufficient rights to post a copy of the 
published version of your article (usually in pdf form) online immediately 
to a site that does not charge for access to the article.  (This is similar 
in many ways to the MIT Copyright Amendment below) </dd>

   <dt>Delayed Access:</dt>
   <dd>You also have the right immediately to post your 
final version of the article, as edited after peer review, to a site that 
does not charge for access to the article, but you must arrange not to make 
the published version of your article available to the public until six 
months after the date of publication. </dd>

</dl>

<h3>Additional Options from MIT</h3>

<dl>

    <dt>MIT Copyright Amendment:</dt> 
    <dd>Developed at MIT, this amendment is a 
tool authors can use to retain rights when assigning copyright to a publisher. 
 It will enable authors to continue using their publications in their 
academic work at MIT, to deposit them into the MIT Libraries' DSpace 
repository, and to deposit any NIH-funded manuscripts on the National 
Library of Medicine's PubMed Central database. More information is available
from 
<a href="http://libraries.mit.edu/sites/scholarly/publishing/your-copyright/">the
MIT Libraries</a>.</dd>

</dl>

<h2>Instructions for Use</h2>

<ol>
  <li>Enter the information requested and select the option of your choice from the menu below. 

<a name="form" />
<xi:include href="form.html" />

</li>

<li>Save the PDF addendum that is generated.</li>

<li>Print the addendum, and sign and date it.</li>

<li>Sign and date the publisher's agreement.  Immediately below your signature 
on the publisher's form, write: "Subject to attached Addendum."  This is very 
important because you want to make clear that your signature is a sign that you 
accept the publisher's agreement only if the publisher accepts you 
Addendum.</li>

<li>Make a copy of all three documents (the publisher's form, your Addendum, 
and your cover letter) for your records.</li>

<li>Staple the three original documents together.</li>

<li>Mail the three original documents to the publisher.</li>

</ol>
<xi:include href="disclaimer.html" />

</div>

<p class="footer">
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
</a>
<br />
Except where otherwise <a href="http://creativecommons.org/policies#license">noted</a>,
this site is<br/>
licensed under a 
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.  <br/>
<a href="http://creativecommons.org/policies/">policies</a>&nbsp;-
<a href="http://creativecommons.org/privacy/">privcy policy</a>&nbsp;-
<a href="http://creativecommons.org/terms/">terms of use</a>
</p>

</body>
</html>
