<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <title>Science Commons: Scholar's Copyright Agreement</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2010376-19']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<p>Total agreements issued: ${total}.</p>
<h2>Breakdown by journal</h2>
<table>
   <tr><th>Journal Name</th><th>Agreements</th></tr>
   <py:for each="j in counts">
      <tr><td>${j[0]}</td><td>${j[1]}</td></tr>
   </py:for>
</table>
</body>
</html>
